.wrap{
    overflow:hidden;
    position:relative;
    height:800px;
    width:500px;
    margin:80px auto;
    background-color:silver;
    border:4px solid gray;
    border-radius:10px;
  }
  .bg{
    opacity:0.4;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:600px;
    
  }
  .content{
    position:relative;
    left:25%;
    top:30%;
    width:50%;
  }
  .content h2{
    font-size:30px;
    color:white;
    border:5px solid white;
    text-align:center;
    border-radius:10px;
    padding:10px 30px;
  }
  .info{
    position:absolute;
    left:5%;
    top:75%;
    margin:10px;
  }
  hr{
    width:430px;
  }
  #right{
    position:absolute;
    left:70%;
    top:75%;
  }
  #icon{
    width:30px;
    height:30px;
  }
  #left{
    position:absolute;
    left:10%;
    top:75%;
  }
  body{
    font-family: 'Akaya Telivigala', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Festive', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Redressed', cursive;
  }
  
  